<div #container>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <label for="name">Name: </label>
    <input name="name" class="form-control" formControlName="name"
           placeholder="name" required>
    <div *ngIf="formErrors.name" class="alert alert-danger name-error">
       {{ formErrors.name }}
    </div>

    <label for="mode">Mode: </label>
    <select name="mode" class="form-control" formControlName="mode" required>
      <option *ngFor="let mode of modes" [value]="mode">{{mode}}</option>
    </select>
    <div *ngIf="formErrors.mode" class="alert alert-danger mode-error">
       {{ formErrors.mode }}
    </div>

    <button class="btn btn-default set-schema" (click)="setSchema()"
            type="button">Set Schema</button>
    <button class="btn btn-default clear-schema" (click)="clearSchema()"
            [disabled]="!(hasSchema() | async)"
            type="button">Clear Schema</button>
    <button class="btn btn-default view-schema" (click)="viewSchema()"
            [disabled]="!(hasSchema() | async)"
            type="button">View Schema</button>
    <div *ngIf="formErrors.schema" class="alert alert-danger schema-error">
       {{ formErrors.schema }}
    </div>
    <br>
    <button class="btn btn-default set-metadata" (click)="setMetadata()"
            type="button">Set Metadata</button>
    <button class="btn btn-default clear-metadata" (click)="clearMetadata()"
            [disabled]="!(hasMetadata() | async)"
            type="button">Clear Schema</button>
    <button class="btn btn-default view-metadata" (click)="viewMetadata()"
            [disabled]="!(hasMetadata() | async)"
            type="button">View Metadata</button>
    <div *ngIf="formErrors.metadata" class="alert alert-danger metadata-error">
       {{ formErrors.metadata }}
    </div>

    <p>
      Setting the following fields overrides any automatic matching that
      this application performs by default.
    </p>

    <div formGroupName="match">
      <label for="matchLocalName">Match local name: </label>
      <input name="matchLocalName" class="form-control"
             formControlName="localName" placeholder="local name">
      <div *ngIf="formErrors.matchLocalName" class="alert alert-danger matchLocalName-error">
        {{ formErrors.matchLocalName }}
      </div>

      <label for="matchNamespaceURI">Match namespace URI: </label>
      <input name="matchNamespaceURI" class="form-control"
             formControlName="namespaceURI" placeholder="URI">
      <div *ngIf="formErrors.matchNamespaceURI" class="alert alert-danger matchNamespaceURI-error">
        {{ formErrors.matchNamespaceURI }}
      </div>
    </div>

    <hr>
    <label for="uploaded">Last uploaded: </label>
    <input name="uploaded" class="form-control" formControlName="uploaded"
           readonly="true">
    <label for="downloaded">Last downloaded: </label>
    <input name="downloaded" class="form-control" formControlName="downloaded"
           readonly="true">
    <button class="btn btn-default" type="submit"
            [disabled]="!form.valid">Save</button>
  </form>
  <button class="btn btn-default" (click)="goBack()" type="button">Back</button>
</div>
